@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Special+Elite&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Special Elite', cursive;
    background-color: var(--paper);
}

nav h3,
.bottom h3,
nav p {
    font-family: "Beth Ellen", cursive;
}

:root {
    --paper: #fffbf5;
    --dirtywhite: #fbfbfb;
    --black: #111111;
    --grey: #454545;
}

nav {
    position: fixed;
    width: 100%;
    height: 2rem;
    background-color: transparent;
    margin: 0;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

nav h3,
nav a {
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: none;
}


.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--paper);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(/images/paper.jpg);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blank {
    width: 100%;
    height: 10rem;
}

.text {
    width: 50%;
    height: auto;
}

hr {
    border: none;
    height: 0.14rem;
    color: var(--black);
    background-color: var(--black);
}

.nav-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.tabs,
.back {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.tabs h2,
.back h3,
.back a {
    color: var(--black);
    font-size: 1rem;
    text-decoration: none;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content p {
    line-height: 1.3rem;
    font-size: 1rem;
}

.bottom {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0 6rem 0;
}

.bottom h3 {
    color: var(--dirtywhite);
}

.social {
    display: flex;
    gap: 2rem;
}

.social a {
    text-decoration: none;
}

.bottom h3 {
    line-height: 0.4rem;
    color: var(--black);
}

.bottom p {
    line-height: 1rem;
    color: var(--black);
    font-size: 0.9rem;
}

.word p,
.social i {
    line-height: 0.4rem;
    color: var(--black);
    font-size: 0.9rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) and (orientation: portrait) {


    nav {
        padding: 2rem 2rem;
    }

    nav h3 {
        font-size: 1rem;
    }

    .blank {
        height: 7rem;
    }

    .text {
        width: 80%;
    }

    .tabs {
        gap: 1.5rem;
    }

    .tabs h2,
    .back h3 {
        font-size: 0.9rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .text-content p {
        font-size: 0.8rem;
    }

    .option h3,
    h4 {
        width: 50%;
    }

    .option h4 {
        text-align: right;
    }


    .bottom h3 {
        font-size: 0.9rem;
    }

    .bottom p,
    .word p,
    .social i {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 550px) and (orientation: landscape) {


    nav {
        padding: 2rem 2rem;
    }

    nav h3 {
        font-size: 1rem;
    }

    .blank {
        height: 7rem;
    }

    .text {
        width: 80%;
    }

    .tabs {
        gap: 1.5rem;
    }

    .tabs h2,
    .back h3 {
        font-size: 0.9rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .text-content p {
        font-size: 0.8rem;
    }

    .option h3,
    h4 {
        width: 50%;
    }

    .option h4 {
        text-align: right;
    }


    .bottom h3 {
        font-size: 0.9rem;
    }

    .bottom p,
    .word p,
    .social i {
        font-size: 0.7rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 550px) and (orientation: portrait) {
    .blank {
        height: 7rem;
    }

    .text {
        width: 70%;
    }

    .text-content p,
    .text p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 550px) and (orientation: landscape) {
    .blank {
        height: 7rem;
    }

    .text {
        width: 70%;
    }

    .text-content p,
    .text p {
        font-size: 0.9rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .blank {
        height: 10rem;
    }

    .text {
        width: 50%;
    }

    .text-content p,
    .text p {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .blank {
        height: 10rem;
    }

    .text {
        width: 50%;
    }

    .text-content p,
    .text p {
        font-size: 0.9rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (orientation: portrait) {
    .text {
        width: 50%;
    }

    .text-content p,
    .text p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .text {
        width: 50%;
    }

    .text-content p,
    .text p {
        font-size: 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (orientation: portrait) {
    .text {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .text {
        width: 50%;
    }
}

